In [1]:
import numpy as np 
import pandas as pd 
# To display all the columns of dataframe
pd.set_option('display.max_columns', 500)
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("C://Users//LENOVO//Downloads//Bondora_raw//Bondora_raw.csv",low_memory=False)

In [3]:
df.shape

(134529, 112)

In [4]:
total_cells = np.product(df.shape)
total_missing_values = df.isnull().sum().sum()

# percent of data that is missing
missing_percentage = (total_missing_values/total_cells) * 100
print(missing_percentage)

24.374988717249494

In [5]:
DropColumnList = df.columns[(df.isnull().mean()*100) >= 40].tolist()
df[DropColumnList].isnull().mean()*100

ContractEndDate                        56.155922
NrOfDependants                         73.537304
EmploymentPosition                     73.173070
WorkExperience                         72.851950
PlannedPrincipalTillDate               59.518765
CurrentDebtDaysPrimary                 63.934914
DebtOccuredOn                          63.934914
CurrentDebtDaysSecondary               61.160791
DebtOccuredOnForSecondary              61.160791
DefaultDate                            68.099815
PlannedPrincipalPostDefault            68.099815
PlannedInterestPostDefault             68.099815
EAD1                                   68.099815
EAD2                                   68.099815
PrincipalRecovery                      68.099815
InterestRecovery                       68.099815
RecoveryStage                          42.584127
EL_V0                                  96.603706
Rating_V0                              96.603706
EL_V1                                  90.394636
Rating_V1                              90.394636
Rating_V2                              81.310349
ActiveLateCategory                     63.934914
CreditScoreEsEquifaxRisk               90.917200
CreditScoreFiAsiakasTietoRiskGrade     75.828260
CreditScoreEeMini                      46.686588
PrincipalWriteOffs                     56.047395
InterestAndPenaltyWriteOffs            56.047395
PreviousEarlyRepaymentsBefoleLoan      56.867293
GracePeriodStart                       86.034238
GracePeriodEnd                         86.034238
NextPaymentDate                        51.204573
ReScheduledOn                          70.027280
PrincipalDebtServicingCost             56.047395
InterestAndPenaltyDebtServicingCost    56.047395
ActiveLateLastPaymentCategory          61.160791
dtype: float64

In [6]:
column_to_keep = "DefaultDate"  # Replace with the column you want to keep
if column_to_keep in DropColumnList:
    DropColumnList.remove(column_to_keep)
    print(DropColumnList)

['ContractEndDate', 'NrOfDependants', 'EmploymentPosition', 'WorkExperience', 'PlannedPrincipalTillDate', 'CurrentDebtDaysPrimary', 'DebtOccuredOn', 'CurrentDebtDaysSecondary', 'DebtOccuredOnForSecondary', 'PlannedPrincipalPostDefault', 'PlannedInterestPostDefault', 'EAD1', 'EAD2', 'PrincipalRecovery', 'InterestRecovery', 'RecoveryStage', 'EL_V0', 'Rating_V0', 'EL_V1', 'Rating_V1', 'Rating_V2', 'ActiveLateCategory', 'CreditScoreEsEquifaxRisk', 'CreditScoreFiAsiakasTietoRiskGrade', 'CreditScoreEeMini', 'PrincipalWriteOffs', 'InterestAndPenaltyWriteOffs', 'PreviousEarlyRepaymentsBefoleLoan', 'GracePeriodStart', 'GracePeriodEnd', 'NextPaymentDate', 'ReScheduledOn', 'PrincipalDebtServicingCost', 'InterestAndPenaltyDebtServicingCost', 'ActiveLateLastPaymentCategory']

In [7]:
len(DropColumnList)

35

In [8]:
df.drop(columns= DropColumnList, axis= 1, inplace=True)

In [10]:
df.shape

(134529, 77)

In [11]:
#Removing the features which are not useful for our analysis
df.drop(columns=['LoanId', 'LoanNumber', 'UserName', 'DateOfBirth', 'County', 'City', 'NextPaymentNr', 'NrOfScheduledPayments', 'ApplicationSignedHour', 'ApplicationSignedWeekday', 
                 'ActiveScheduleFirstPaymentReached', 'PlannedInterestTillDate', 'ExpectedLoss','LossGivenDefault',
                'ExpectedReturn', 'ProbabilityOfDefault', 'PrincipalOverdueBySchedule', 'StageActiveSince', 
                'ModelVersion', 'WorseLateCategory'], inplace = True)

In [12]:
#Removing the features which are related to Income as the Income Total is already present 
df.drop(columns=['IncomeFromPrincipalEmployer', 'IncomeFromLeavePay', 'IncomeFromPension', 'IncomeFromFamilyAllowance', 'IncomeFromSocialWelfare',
                 'IncomeFromChildSupport', 'IncomeOther'], inplace = True)

In [13]:
#removing unnecessary date related features as we not gonna work on time series analysis
df.drop(columns=['ReportAsOfEOD', 'ListedOnUTC', 'BiddingStartedOn', 'LoanApplicationStartedDate', 'LastPaymentOn','MonthlyPaymentDay','LoanDate', 'FirstPaymentDate', 'MaturityDate_Original','MaturityDate_Last'], 
        inplace = True)

In [14]:
#checking the shape of the data after removing unwanted features
df.shape

(134529, 40)

In [15]:
df.head()

,BidsPortfolioManager,BidsApi,BidsManual,NewCreditCustomer,VerificationType,LanguageCode,Age,Gender,Country,AppliedAmount,Amount,Interest,LoanDuration,MonthlyPayment,UseOfLoan,Education,MaritalStatus,EmploymentStatus,EmploymentDurationCurrentEmployer,OccupationArea,HomeOwnershipType,IncomeTotal,ExistingLiabilities,LiabilitiesTotal,RefinanceLiabilities,DebtToIncome,FreeCash,DefaultDate,Rating,Status,Restructured,CreditScoreEsMicroL,PrincipalPaymentsMade,InterestAndPenaltyPaymentsMade,PrincipalBalance,InterestAndPenaltyBalance,NoOfPreviousLoansBeforeLoan,AmountOfPreviousLoansBeforeLoan,PreviousRepaymentsBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan
0,0,0,115.0410,True,2.0,1,61,1.0,EE,319.5582,115.0408,30.0,12,NaN,7,3.0,1.0,3.0,UpTo3Years,7.0,NaN,10500.0,0,0.0,0,0.0,0.0,NaN,NaN,Repaid,False,NaN,115.0408,20.4222,0.00,0.00,1,83.0852,0.0000,0
1,0,0,140.6057,False,2.0,1,48,1.0,EE,191.7349,140.6057,25.0,1,NaN,7,5.0,4.0,3.0,MoreThan5Years,16.0,NaN,10800.0,0,0.0,0,0.0,0.0,NaN,NaN,Repaid,False,NaN,140.6057,2.0227,0.00,0.00,2,255.6467,258.6256,0
2,0,0,319.5580,True,2.0,1,58,1.0,EE,319.5582,319.5409,25.0,20,NaN,2,4.0,1.0,3.0,UpTo4Years,9.0,NaN,7000.0,0,0.0,0,0.0,0.0,2012-07-16,NaN,Late,True,NaN,203.1909,59.7626,116.35,414.07,0,0.0000,0.0000,0
3,0,0,57.5205,True,2.0,1,23,1.0,EE,127.8233,57.5205,45.0,15,NaN,0,2.0,3.0,NaN,UpTo2Years,1.0,NaN,11600.0,0,0.0,0,0.0,0.0,NaN,NaN,Repaid,False,NaN,57.5205,18.7323,0.00,0.00,1,134.2144,0.0000,0
4,0,0,319.5582,True,2.0,1,25,1.0,EE,319.5582,319.5436,30.0,12,NaN,6,4.0,2.0,3.0,UpTo2Years,7.0,NaN,6800.0,0,0.0,0,0.0,0.0,2009-09-28,NaN,Repaid,False,NaN,319.5436,220.4200,0.00,0.00,1,146.9966,0.0000,0

In [16]:
df['Status'].value_counts()

Status
Current    57135
Late       45772
Repaid     31622
Name: count, dtype: int64

In [17]:
# filtering out Current Status records
df = df[df.Status != 'Current']
df.Status.value_counts()

Status
Late      45772
Repaid    31622
Name: count, dtype: int64

In [18]:
df['Loan_Status'] = np.where(df['DefaultDate'].isna(), 0, 1)

In [20]:
df['Loan_Status'].value_counts()

Loan_Status
1    42794
0    34600
Name: count, dtype: int64

In [21]:
# let's drop the status columns
df.drop(columns=['Status','DefaultDate'], inplace = True)

In [22]:
df.head()

,BidsPortfolioManager,BidsApi,BidsManual,NewCreditCustomer,VerificationType,LanguageCode,Age,Gender,Country,AppliedAmount,Amount,Interest,LoanDuration,MonthlyPayment,UseOfLoan,Education,MaritalStatus,EmploymentStatus,EmploymentDurationCurrentEmployer,OccupationArea,HomeOwnershipType,IncomeTotal,ExistingLiabilities,LiabilitiesTotal,RefinanceLiabilities,DebtToIncome,FreeCash,Rating,Restructured,CreditScoreEsMicroL,PrincipalPaymentsMade,InterestAndPenaltyPaymentsMade,PrincipalBalance,InterestAndPenaltyBalance,NoOfPreviousLoansBeforeLoan,AmountOfPreviousLoansBeforeLoan,PreviousRepaymentsBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan,Loan_Status
0,0,0,115.0410,True,2.0,1,61,1.0,EE,319.5582,115.0408,30.0,12,NaN,7,3.0,1.0,3.0,UpTo3Years,7.0,NaN,10500.0,0,0.0,0,0.0,0.0,NaN,False,NaN,115.0408,20.4222,0.00,0.00,1,83.0852,0.0000,0,0
1,0,0,140.6057,False,2.0,1,48,1.0,EE,191.7349,140.6057,25.0,1,NaN,7,5.0,4.0,3.0,MoreThan5Years,16.0,NaN,10800.0,0,0.0,0,0.0,0.0,NaN,False,NaN,140.6057,2.0227,0.00,0.00,2,255.6467,258.6256,0,0
2,0,0,319.5580,True,2.0,1,58,1.0,EE,319.5582,319.5409,25.0,20,NaN,2,4.0,1.0,3.0,UpTo4Years,9.0,NaN,7000.0,0,0.0,0,0.0,0.0,NaN,True,NaN,203.1909,59.7626,116.35,414.07,0,0.0000,0.0000,0,1
3,0,0,57.5205,True,2.0,1,23,1.0,EE,127.8233,57.5205,45.0,15,NaN,0,2.0,3.0,NaN,UpTo2Years,1.0,NaN,11600.0,0,0.0,0,0.0,0.0,NaN,False,NaN,57.5205,18.7323,0.00,0.00,1,134.2144,0.0000,0,0
4,0,0,319.5582,True,2.0,1,25,1.0,EE,319.5582,319.5436,30.0,12,NaN,6,4.0,2.0,3.0,UpTo2Years,7.0,NaN,6800.0,0,0.0,0,0.0,0.0,NaN,False,NaN,319.5436,220.4200,0.00,0.00,1,146.9966,0.0000,0,1

In [23]:
df.dtypes

BidsPortfolioManager                        int64
BidsApi                                     int64
BidsManual                                float64
NewCreditCustomer                            bool
VerificationType                          float64
LanguageCode                                int64
Age                                         int64
Gender                                    float64
Country                                    object
AppliedAmount                             float64
Amount                                    float64
Interest                                  float64
LoanDuration                                int64
MonthlyPayment                            float64
UseOfLoan                                   int64
Education                                 float64
MaritalStatus                             float64
EmploymentStatus                          float64
EmploymentDurationCurrentEmployer          object
OccupationArea                            float64
HomeOwnershipType                         float64
IncomeTotal                               float64
ExistingLiabilities                         int64
LiabilitiesTotal                          float64
RefinanceLiabilities                        int64
DebtToIncome                              float64
FreeCash                                  float64
Rating                                     object
Restructured                                 bool
CreditScoreEsMicroL                        object
PrincipalPaymentsMade                     float64
InterestAndPenaltyPaymentsMade            float64
PrincipalBalance                          float64
InterestAndPenaltyBalance                 float64
NoOfPreviousLoansBeforeLoan                 int64
AmountOfPreviousLoansBeforeLoan           float64
PreviousRepaymentsBeforeLoan              float64
PreviousEarlyRepaymentsCountBeforeLoan      int64
Loan_Status                                 int32
dtype: object

In [24]:
# Replace Null values by 'Not Set'
df.VerificationType.fillna('Not Set', inplace = True)

In [25]:
# convert from float type to string first
df['VerificationType'] = df['VerificationType'].astype(object)

for i in range(len(df.VerificationType.values)):
    df.VerificationType.values[i] = str(df.VerificationType.values[i])

In [26]:
df.VerificationType.dtype, type(df.VerificationType.values[0])

(dtype('O'), str)

In [27]:
# From Bonora dataser we can find that:
# 0 Not set, 1 Income unverified, 2 Income unverified, cross-referenced by phone, 3 Income verified 
df.VerificationType = df.VerificationType.str.replace('0.0', 'Not Set')
df.VerificationType = df.VerificationType.str.replace('1.0', 'Income unverified')
df.VerificationType = df.VerificationType.str.replace('2.0', 'Income unverified,cross-referenced by phone')
df.VerificationType = df.VerificationType.str.replace('3.0', 'Income verified')
df.VerificationType = df.VerificationType.str.replace('4.0', 'Income and expenses verified')

In [28]:
df.VerificationType.value_counts()

VerificationType
Income and expenses verified                   41428
Income unverified                              25626
Income verified                                 8460
Income unverified,cross-referenced by phone     1827
Not Set                                           53
Name: count, dtype: int64

In [29]:
df.Gender.value_counts()

Gender
0.0    50697
1.0    20927
2.0     5725
Name: count, dtype: int64

In [30]:
# Replace Null values by Undefined
df.Gender.fillna('Undefined', inplace = True)

In [31]:
df['Gender'] = df['Gender'].astype(object)

for i in range(len(df.Gender.values)):
    df.Gender.values[i] = str(df.Gender.values[i])

In [32]:
df.Gender.dtype, type(df.Gender.values[0])

(dtype('O'), str)

In [34]:
df.Gender = df.Gender.str.replace('0.0', 'Male')
df.Gender = df.Gender.str.replace('1.0', 'Female')
df.Gender = df.Gender.str.replace('2.0', 'Undefined')
df.Gender.value_counts()

Gender
Male         50697
Female       20927
Undefined     5770
Name: count, dtype: int64

In [35]:
df.LanguageCode.value_counts()

LanguageCode
1     33239
4     20302
6     16407
3      6534
2       603
9       293
22        6
5         5
15        1
10        1
13        1
7         1
21        1
Name: count, dtype: int64

In [36]:
df.LanguageCode = df.LanguageCode.astype(object)

for i in range(len(df.LanguageCode.values)):
    df.LanguageCode.values[i] = str(df.LanguageCode.values[i])

In [37]:

df.LanguageCode.dtype, type(df.LanguageCode.values[0])

(dtype('O'), str)

In [38]:
df.LanguageCode.value_counts()

LanguageCode
1     33239
4     20302
6     16407
3      6534
2       603
9       293
22        6
5         5
15        1
10        1
13        1
7         1
21        1
Name: count, dtype: int64

In [39]:
df.LanguageCode = df.LanguageCode.str.replace('7',  'Other')
df.LanguageCode = df.LanguageCode.str.replace('10', 'Other')
df.LanguageCode = df.LanguageCode.str.replace('13', 'Other')
df.LanguageCode = df.LanguageCode.str.replace('15', 'Other')
df.LanguageCode = df.LanguageCode.str.replace('21', 'Other')
df.LanguageCode = df.LanguageCode.str.replace('22', 'Other')
df.LanguageCode = df.LanguageCode.str.replace('1', 'Estonian')
df.LanguageCode = df.LanguageCode.str.replace('2', 'English')
df.LanguageCode = df.LanguageCode.str.replace('3', 'Russian')
df.LanguageCode = df.LanguageCode.str.replace('4', 'Finnish')
df.LanguageCode = df.LanguageCode.str.replace('5', 'German')
df.LanguageCode = df.LanguageCode.str.replace('6', 'Spanish')
df.LanguageCode = df.LanguageCode.str.replace('9', 'Slovakian')
df.LanguageCode.value_counts()

LanguageCode
Estonian     33239
Finnish      20302
Spanish      16407
Russian       6534
English        603
Slovakian      293
Other           11
German           5
Name: count, dtype: int64

In [40]:
df.UseOfLoan.value_counts()

UseOfLoan
-1      44177
 7       8926
 2       8102
 0       6419
 6       2884
 3       1743
 5       1621
 8       1367
 4       1259
 1        843
 102       21
 110       17
 104        6
 101        5
 107        2
 108        1
 106        1
Name: count, dtype: int64

In [41]:
df.UseOfLoan = df.UseOfLoan.astype(object)

for i in range(len(df.UseOfLoan.values)):
    df.UseOfLoan.values[i] = str(df.UseOfLoan.values[i])

In [42]:
df.UseOfLoan.dtype, type(df.UseOfLoan.values[0])

(dtype('O'), str)

In [43]:
df.UseOfLoan = df.UseOfLoan.str.replace('102', 'Purchase of machinery equipment')
df.UseOfLoan = df.UseOfLoan.str.replace('110', 'Other business')
df.UseOfLoan = df.UseOfLoan.str.replace('104', 'Accounts receivable financing')
df.UseOfLoan = df.UseOfLoan.str.replace('101', 'Working capital financing')
df.UseOfLoan = df.UseOfLoan.str.replace('107', 'Acquisition of stocks')
df.UseOfLoan = df.UseOfLoan.str.replace('106', 'Acquisition of means of transport')
df.UseOfLoan = df.UseOfLoan.str.replace('108', 'Acquisition of real estate')

df.UseOfLoan = df.UseOfLoan.str.replace('-1',  'Not Set')
df.UseOfLoan = df.UseOfLoan.str.replace('0',   'Loan consolidation')
df.UseOfLoan = df.UseOfLoan.str.replace('1',   'Real estate')
df.UseOfLoan = df.UseOfLoan.str.replace('2',   'Home improvement')
df.UseOfLoan = df.UseOfLoan.str.replace('3',   'Business')
df.UseOfLoan = df.UseOfLoan.str.replace('4',   'Education')
df.UseOfLoan = df.UseOfLoan.str.replace('5',   'Travel')
df.UseOfLoan = df.UseOfLoan.str.replace('6',   'Vehicle')
df.UseOfLoan = df.UseOfLoan.str.replace('7',   'Other')
df.UseOfLoan = df.UseOfLoan.str.replace('8',   'Health')
df.UseOfLoan.value_counts()

UseOfLoan
Not Set                              44177
Other                                 8926
Home improvement                      8102
Loan consolidation                    6419
Vehicle                               2884
Business                              1743
Travel                                1621
Health                                1367
Education                             1259
Real estate                            843
Purchase of machinery equipment         21
Other business                          17
Accounts receivable financing            6
Working capital financing                5
Acquisition of stocks                    2
Acquisition of real estate               1
Acquisition of means of transport        1
Name: count, dtype: int64

In [44]:
df.Education.fillna('Not Present', inplace = True)

In [45]:
df.Education.value_counts()

Education
4.0            28557
5.0            20919
3.0            17257
2.0             5379
1.0             5226
Not Present       45
0.0                8
-1.0               3
Name: count, dtype: int64

In [46]:
df.Education = df.Education.astype(object)

for i in range(len(df.Education.values)):
    df.Education.values[i] = str(df.Education.values[i])

In [50]:
df.Education = df.Education.str.replace('-1.0',  'Not Present')
df.Education = df.Education.str.replace('0.0',   'Not Present')
df.Education = df.Education.str.replace('1.0',   'Primary education')
df.Education = df.Education.str.replace('2.0',   'Basic education')
df.Education = df.Education.str.replace('3.0',   'Vocational education')
df.Education = df.Education.str.replace('4.0',   'Secondary education')
df.Education = df.Education.str.replace('5.0',   'Higher education')
df.Education.value_counts()

Education
Secondary education     28557
Higher education        20919
Vocational education    17257
Basic education          5379
Primary education        5226
Not Present                56
Name: count, dtype: int64

In [48]:
df.MaritalStatus.value_counts()

MaritalStatus
-1.0    44177
 3.0    11504
 1.0     9585
 2.0     8479
 4.0     3077
 5.0      519
 0.0        8
Name: count, dtype: int64

In [49]:
df.MaritalStatus.fillna('Not Specified', inplace = True)

In [51]:
df.MaritalStatus = df.MaritalStatus.astype(object)
for i in range(len(df.MaritalStatus.values)):
    df.MaritalStatus.values[i] = str(df.MaritalStatus.values[i])

In [52]:
df.MaritalStatus = df.MaritalStatus.str.replace('-1.0',  'Not Specified')
df.MaritalStatus = df.MaritalStatus.str.replace('0.0',   'Not Specified')
df.MaritalStatus = df.MaritalStatus.str.replace('1.0',   'Married')
df.MaritalStatus = df.MaritalStatus.str.replace('2.0',   'Cohabitant')
df.MaritalStatus = df.MaritalStatus.str.replace('3.0',   'Single')
df.MaritalStatus = df.MaritalStatus.str.replace('4.0',   'Divorced')
df.MaritalStatus = df.MaritalStatus.str.replace('5.0',   'Widow')
df.MaritalStatus.value_counts()

MaritalStatus
Not Specified    44230
Single           11504
Married           9585
Cohabitant        8479
Divorced          3077
Widow              519
Name: count, dtype: int64

In [53]:
df.EmploymentStatus.value_counts()

EmploymentStatus
-1.0    44177
 3.0    27309
 5.0     1695
 6.0     1663
 4.0     1211
 2.0     1110
 0.0       32
Name: count, dtype: int64

In [54]:
df.EmploymentStatus.fillna('Not present', inplace = True)

In [55]:
df.EmploymentStatus = df.EmploymentStatus.astype(object)
for i in range(len(df.EmploymentStatus.values)):
    df.EmploymentStatus.values[i] = str(df.EmploymentStatus.values[i])

In [56]:
df.EmploymentStatus = df.EmploymentStatus.str.replace('-1.0',  'Not present')
df.EmploymentStatus = df.EmploymentStatus.str.replace('0.0',   'Not present')
df.EmploymentStatus = df.EmploymentStatus.str.replace('2.0',   'Partially employed')
df.EmploymentStatus = df.EmploymentStatus.str.replace('3.0',   'Fully employed')
df.EmploymentStatus = df.EmploymentStatus.str.replace('4.0',   'Self-employed')
df.EmploymentStatus = df.EmploymentStatus.str.replace('5.0',   'Entrepreneur')
df.EmploymentStatus = df.EmploymentStatus.str.replace('6.0',   'Retiree')
df.EmploymentStatus.value_counts()

EmploymentStatus
Not present           44406
Fully employed        27309
Entrepreneur           1695
Retiree                1663
Self-employed          1211
Partially employed     1110
Name: count, dtype: int64

In [57]:
df.NewCreditCustomer.value_counts()

NewCreditCustomer
True     48867
False    28527
Name: count, dtype: int64

In [58]:
df.NewCreditCustomer = df.NewCreditCustomer.astype(object)

for i in range(len(df.NewCreditCustomer.values)):
    df.NewCreditCustomer.values[i] = str(df.NewCreditCustomer.values[i])

In [59]:
df.Restructured.value_counts()

Restructured
False    61885
True     15509
Name: count, dtype: int64

In [60]:
df.Restructured = df.Restructured.astype(object)
for i in range(len(df.Restructured.values)):
    df.Restructured.values[i] = str(df.Restructured.values[i])

In [61]:
df.OccupationArea.fillna('Not present', inplace = True)

In [62]:
df.OccupationArea.value_counts()

OccupationArea
-1.0           44228
1.0             7640
7.0             3207
6.0             3007
3.0             2876
8.0             2276
17.0            2186
9.0             2106
10.0            1782
15.0            1555
16.0            1251
11.0            1054
19.0             893
14.0             798
4.0              530
18.0             524
13.0             493
12.0             433
5.0              342
2.0              116
Not present       86
0.0               11
Name: count, dtype: int64

In [63]:
df.OccupationArea = df.OccupationArea.astype(object)

for i in range(len(df.OccupationArea.values)):
    df.OccupationArea.values[i] = str(df.OccupationArea.values[i])

In [64]:
df.OccupationArea = df.OccupationArea.str.replace('10.0', 'Info and telecom')
df.OccupationArea = df.OccupationArea.str.replace('11.0', 'Finance and insurance')
df.OccupationArea = df.OccupationArea.str.replace('12.0', 'Real-estate')
df.OccupationArea = df.OccupationArea.str.replace('13.0', 'Research')
df.OccupationArea = df.OccupationArea.str.replace('14.0', 'Administrative')
df.OccupationArea = df.OccupationArea.str.replace('15.0', 'Civil service & military')
df.OccupationArea = df.OccupationArea.str.replace('16.0', 'Education')
df.OccupationArea = df.OccupationArea.str.replace('17.0', 'Healthcare and social help')
df.OccupationArea = df.OccupationArea.str.replace('18.0', 'Art and entertainment')
df.OccupationArea = df.OccupationArea.str.replace('19.0', 'Agriculture, forestry and fishing')
df.OccupationArea = df.OccupationArea.str.replace('-1.0', 'Not present')
df.OccupationArea = df.OccupationArea.str.replace('0.0',  'Not present')
df.OccupationArea = df.OccupationArea.str.replace('1.0', 'Other')
df.OccupationArea = df.OccupationArea.str.replace('2.0', 'Mining')
df.OccupationArea = df.OccupationArea.str.replace('3.0', 'Processing')
df.OccupationArea = df.OccupationArea.str.replace('4.0', 'Energy')
df.OccupationArea = df.OccupationArea.str.replace('5.0', 'Utilities')
df.OccupationArea = df.OccupationArea.str.replace('6.0', 'Construction')
df.OccupationArea = df.OccupationArea.str.replace('7.0', 'Retail and wholesale')
df.OccupationArea = df.OccupationArea.str.replace('8.0', 'Transport and warehousing')
df.OccupationArea = df.OccupationArea.str.replace('9.0',  'Hospitality and catering')
df.OccupationArea.value_counts()

OccupationArea
Not present                          44325
Other                                 7640
Retail and wholesale                  3207
Construction                          3007
Processing                            2876
Transport and warehousing             2276
Healthcare and social help            2186
Hospitality and catering              2106
Info and telecom                      1782
Civil service & military              1555
Education                             1251
Finance and insurance                 1054
Agriculture, forestry and fishing      893
Administrative                         798
Energy                                 530
Art and entertainment                  524
Research                               493
Real-estate                            433
Utilities                              342
Mining                                 116
Name: count, dtype: int64

In [65]:
df.HomeOwnershipType.value_counts()

HomeOwnershipType
 1.0     24594
 3.0     16842
 2.0     12776
 8.0      8762
 4.0      4031
 10.0     3179
 7.0      2701
 6.0      1362
 5.0       882
 9.0       565
 0.0        46
-1.0         2
Name: count, dtype: int64

In [66]:
df.HomeOwnershipType.fillna("Not specified", inplace = True)

In [67]:
df.HomeOwnershipType = df.HomeOwnershipType.astype(object)

for i in range(len(df.HomeOwnershipType.values)):
    df.HomeOwnershipType.values[i] = str(df.HomeOwnershipType.values[i])

In [68]:
df.HomeOwnershipType = df.HomeOwnershipType.str.replace('10.0', 'Other')
df.HomeOwnershipType = df.HomeOwnershipType.str.replace('-1.0', 'Not specified')
df.HomeOwnershipType = df.HomeOwnershipType.str.replace('0.0',  'Homeless')
df.HomeOwnershipType = df.HomeOwnershipType.str.replace('1.0', 'Owner')
df.HomeOwnershipType = df.HomeOwnershipType.str.replace('2.0', 'Living with parents')
df.HomeOwnershipType = df.HomeOwnershipType.str.replace('3.0', 'Tenant,pre-furnished property')
df.HomeOwnershipType = df.HomeOwnershipType.str.replace('4.0', 'Tenant,pre-furnished property')
df.HomeOwnershipType = df.HomeOwnershipType.str.replace('5.0', 'Council house')
df.HomeOwnershipType = df.HomeOwnershipType.str.replace('6.0', 'Joint tenant')
df.HomeOwnershipType = df.HomeOwnershipType.str.replace('7.0', 'Joint ownership')
df.HomeOwnershipType = df.HomeOwnershipType.str.replace('8.0', 'Mortgage')
df.HomeOwnershipType = df.HomeOwnershipType.str.replace('9.0',  'Owner with encumbrance')
df.HomeOwnershipType.value_counts()

HomeOwnershipType
Owner                            24594
Tenant,pre-furnished property    20873
Living with parents              12776
Mortgage                          8762
Other                             3179
Joint ownership                   2701
Not specified                     1654
Joint tenant                      1362
Council house                      882
Owner with encumbrance             565
Homeless                            46
Name: count, dtype: int64

In [69]:
df.Rating.value_counts()

Rating
F     15657
HR    13151
E     12288
D     11772
C     10420
B      6926
A      2819
AA     1633
Name: count, dtype: int64

In [70]:
df.Rating.fillna('F', inplace = True)

In [71]:
# Check
df.Rating.value_counts()

Rating
F     18385
HR    13151
E     12288
D     11772
C     10420
B      6926
A      2819
AA     1633
Name: count, dtype: int64

In [72]:
df.CreditScoreEsMicroL.value_counts()

CreditScoreEsMicroL
M      39217
M1      4120
M5      2377
M2      1617
M3      1546
M4      1480
M6       556
M8       102
M9        70
M7        69
M10       54
Name: count, dtype: int64

In [73]:
df.CreditScoreEsMicroL.fillna('M', inplace = True)
df.CreditScoreEsMicroL.isnull().sum()

0

In [74]:
df.EmploymentDurationCurrentEmployer.fillna("Other", inplace = True)

In [75]:
df.EmploymentDurationCurrentEmployer.value_counts()

EmploymentDurationCurrentEmployer
MoreThan5Years    29328
UpTo1Year         14288
UpTo5Years        13777
UpTo2Years         5541
UpTo3Years         4539
Retiree            3344
UpTo4Years         3057
Other              2901
TrialPeriod         619
Name: count, dtype: int64

In [76]:
df.MonthlyPayment.fillna(df.MonthlyPayment.mean(), inplace = True)
df.DebtToIncome.fillna(df.DebtToIncome.mean(), inplace = True)
df.FreeCash.fillna(df.FreeCash.mean(), inplace = True) 
df.PreviousRepaymentsBeforeLoan.fillna(df.PreviousRepaymentsBeforeLoan.mean(), inplace = True)

In [80]:
df.to_csv('C://Users//LENOVO//Downloads//Bondora_raw//Bondora_preprocessed_data.csv', index=False)

In [81]:
df.shape

(77394, 39)